/* 
background #3394ff
board #025BBF
yellow #FFD933/#DFB500
red #FF3B30/#C0261F
*/

body {
  font-family: Avenir Next;
  color: white;
  text-align: center;
  background-color: #3394ff;
  /* background-color: #ffffff; */
}

.board {
  position: relative;
  height: 540px;
  width: 630px;
  padding-top: 100px;
  background-color: #025bbf;
  border-radius: 5%;

  /* display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr); */

  display: flex;
  flex-wrap: wrap;

  margin: 120px auto 50px auto;
  padding: 10px;
}

.tile {
  height: 60px;
  width: 60px;
  margin: 10px;

  background-color: #ffffff;
  border-radius: 50%;
  border: 5px solid navy;
  box-shadow: 2px 2px 2px black;
  display: flex;
  flex-grow: 1;
}

/* hover disc */
.disc[data-placed="false"] {
  transform: translateY(-100px);
}

.disc {
  border-radius: 50%;
  flex-grow: 1;
}

.disc[data-player="1"] {
  background-color: #ff3b30;
  border: 3px solid #c0261f;
}

.disc[data-player="2"] {
  background-color: #ffd933;
  border: 3px solid #dfb500;
}

/* set disc */
.red {
  background-color: #ff3b30;
  border: 3px solid #c0261f;
}

.yellow {
  background-color: #ffd933;
  border: 3px solid #dfb500;
}

/* alert message */
.alert-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 350px;
}

.alert-content {
  width: 30%;
  margin: auto;
  padding: 50px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  color: black;
}

.button {
  font-size: 16px;
  font-family: Avenir Next;
  background-color: #ffffff;
  color: #025bbf;
  border: 3px solid #025bbf;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 20px;
}

.button:hover {
  background-color: #025bbf;
  color: #ffffff;
  transition: 0.7s;
}

.legend-container {
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 50px;
}

.legend-container div {
  margin: auto 30px;
}

#player1-disc {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: #ff3b30;
  border: 4px solid #c0261f;
}

#player2-disc {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: #ffd933;
  border: 4px solid #dfb500;
}
