@import url("https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200..800&display=swap");

.exercises {
  background-color: #121212;
  position: absolute;
  color: black;
  text-align: center;
  font-family: "Tahoma", sans-serif;
}

.exercises h3 {
  font-family: "Stick No Bills", sans-serif;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  color: #b4ff01;
  text-transform: capitalize;
  text-align: center;
  margin: 20px;
}

.group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.group img {
  width: 30vh;
  margin: 30px;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  background-color: #b4ff01;
  margin-top: 50px;
}

.pagination {
  display: flex;
  align-items: center;
  margin: 10px;
}
