/* .card {
  background-color: smokewhite;
  position: absolute;
  color: black;
  text-align: center;
}

.card h3 {
  margin: 20px 0px;
  color: blue;
} */

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 5px solid green;
}

.card img {
  width: 30vh;
  margin: 30px;
}
