@import url("https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200..800&display=swap");

.herobanner {
  background-image: url(../assets/herobanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #b4ff01;
  text-align: center;
  position: relative;
  padding: 5em;
  height: 50vh;
}

.herobanner h1 {
  font-family: "Stick No Bills", sans-serif;
  font-size: 120px;
  font-weight: 800;
  font-style: normal;
  color: #b4ff01;
  text-shadow: 1px 1px 10px #b3ff01c1;
}

.herobanner h3 {
  font-family: "Stick No Bills", sans-serif;
  font-size: 60px;
  font-weight: 600;
  font-style: normal;
  color: #b4ff01;
}
