.horizontalbar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 80px;
  font-family: "Tahoma", sans-serif;
  font-size: 14px;
  text-transform: capitalize;
  transition: transform 0.3s ease-in-out;
}

.horizontalbar:hover {
  transform: scale(1.2);
  color: #b4ff01;
  font-weight: 600;
}

.horizontalbar img {
  width: 50px;
  align-self: center;
  justify-content: center;
}
