.searchbar {
  background-color: #121212;
  font-family: "Tahoma", sans-serif;
  color: white;
  font-size: 22px;
  text-align: center;
  padding: 50px;
  height: 40vh;
}

.searchcontainer input {
  position: relative;
  margin: auto;
  width: 80%;
  height: 4em;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 40px 10px 10px;
}

.searchcontainer button {
  position: absolute;
  right: 13em;
  margin-top: 8px;
  width: 25vh;
  height: 3em;
  font-family: "Tahoma", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #121212;
  background-color: #b4ff01;
  border: 1px solid #b4ff01;
  border-radius: 5px;
}

.searchcontainer button:hover {
  background-color: #121212;
  color: #b4ff01;
}
